<% if @reader.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
     thy efforts result in <%= pluralize(@reader.errors.count, "error") %> ... yikes
    </div>
    <ul>
    <% @reader.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>