<h1 style = "color:purple;size:5em;letter-spacing:1em;">POETRY</h1>  


<p>
 The poem is <span class="poem-title"> <%= @title %> </span> 
 				by <span class="poem-author"><%= @author %></span> 
</p>

<p>
And is readable at <%= @poem_url %>! 
</p>
