<h1>PoetryMailer#daily_poetry</h1>

<p>
 Todays poem is <span class="poem-title"> <%= @title %> </span> 
 				by <span class="poem-author"><%= @author %></span> 
</p>

<p>
	You can read the poem at <%= @poem_url %> ! 
</p>
