<h1 style = "font-size:4em;letter-spacing:0.5em">
	<b>Welcome <%= @Reader %>!</b>
</h1>
<br>
<p>
You will now receive one random poem per day :) 
<p>
<br>
<p>
This inaugural poem is entitled <b>Caedmon's <em>Hymn</b></em> and is the oldest recorded poem in Old English. 
</p>


<pre style = "font-size:1.25em">
nu scylun hergan     hefaenricaes uard
metudæs maecti     end his modgidanc
uerc uuldurfadur     swe he uundra gihwaes
eci dryctin     or astelidæ
he aerist scop     aelda barnum
heben til hrofe     haleg scepen.
tha middungeard     moncynnæs uard
eci dryctin     æfter tiadæ
firum foldu     frea allmectig </pre>
<br>
<p>love,</p>
